
body{
    font-family: 'Roboto', sans-serif;
}


.DivTela{
    height:100vh;
    background-image:url("../../../public/TelaFundo2.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.DivTelona{
    height:auto;
    background-image:url("../../../public/TelaFundo2.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Barra de Rolagem */
/* ==================================== */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
}
/* ==================================== */

/* Cabecalho */
/* ==================================== *//* ==================================== *//* ==================================== */

    .HeadCabecalho {
        background-color: #3498db;
        padding: 15px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .DivCabecalho {
        display: flex;
        margin-right: auto; 
        margin-left: auto; 
    }

    .ImgCabecalho {
        height: 32px;
        width: 32px;
        margin-left: 15px;
    }
    .ItemCabecalho {
        margin: 0 20px;
    }

    .LinkCabecalho {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    
    .LinkCabecalho:hover {
        color: #2ecc71;
    }

/* ==================================== *//* ==================================== *//* ==================================== */


/* Login */
/* ==================================== *//* ==================================== *//* ==================================== */

    .Divlogin{
    display: flex;
    flex-direction:row;
    height: 84vh;
    }

    /* DivLeftLogin */
    /* ==================================== */

        
        .TxtMSMLogin{
            font-size: 80px;
            margin-top: 20px;
            color: #555;
        }

        .TxtLeftLogin{
            margin-left: 50px;
            margin-right: 50px;
            color: #555;
        }

        .ImgLeftLogin{
            width:280px;
            height:280px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-top:50px;
        }

    /* DivRightLogin */
    /* ==================================== */
        .DivRightLogin{
            align-items: center;
            display: flex;
            flex-direction:column;
            background-color: #d6eaf8;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 350px;
            height: 600px;
            margin-top: 60px;
            margin-left: 50px;
        }

        .ImgRightLogin{ 
            margin-top: 10px;
            margin-bottom:55px;
            width: 200px;
            height:200px;
            border-radius:50%;
            background-color: white;
            border: #3498db solid 2px;
        }

        .DivBotoesLogin{
            display: flex;
            flex-direction: row;
        }

        .LinkLogin{
            text-decoration: none;
            color: #3498db;
        }

        .LinkLogin:hover {
            color: #2ecc71;
        }

        .ButtonLogin{
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;  
        }
        .ButtonLogin:hover {
            background-color: #2ecc71;
        }

        .InputLogin{
            width: 75%;
            padding: 10px;
            margin: 5px;
            font-size: 16px;
            background-color: #ecf0f1;
            border: none;
            border-bottom: 2px solid #3498db;
            border-radius: 5px;
            outline: none;
            transition: border-bottom-color 0.3s ease;
        }
        .InputLogin:focus {
            border-bottom-color: #2ecc71;
        }
    /* ==================================== */

/* ==================================== *//* ==================================== *//* ==================================== */    


/* Cadastro */
/* ==================================== *//* ==================================== *//* ==================================== */


    /* LinkCadastro */
    /* ==================================== */

        .DivLinkCadastro{
            margin-top: 40px;
            margin-bottom: 5px;
            margin-right: 15px;
        }

        .LinkCadastro{
            text-decoration: none;
            color: #3498db;
            margin-top: 40px;
        }
        .LinkCadastro:hover {
        color: #2ecc71;
        }

    /* DivCadastro */
    /* ==================================== */

        .DivCadastro {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 320px;
            margin-left: 40%;
        }

        .DivInputCadastro {
            margin-bottom: 10px;
        }

        .LabelCadastro {
            font-size: 16px;
            color: #7f8c8d;
            margin-bottom: 5px;
            display: block;
        }

        .InputCadastro {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #ecf0f1;
            outline: none;
            transition: background-color 0.3s ease;
        }
        .InputCadastro:focus {
            border-bottom-color: #2ecc71;
            background-color: #d4e6f1;
        }

        .ButtonCadastro {
            display: inline-block;
            margin-top: 8px;
            padding: 12px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .ButtonCadastro:hover {
            background-color: #2ecc71;
        }
    /* ==================================== */

/* ==================================== *//* ==================================== *//* ==================================== */


/* Home */
/* ==================================== *//* ==================================== *//* ==================================== */
    
    .TxtMSM{
        margin-top: 70px;
        text-align: left;
        margin-left: 20px;
        color: #2ecc71;
        font-size: 81px;
        margin-bottom: 20px;
    }

    /* DivCadastro */
    /* ==================================== */

        .DivHome {
            text-align: left;
            max-width: 1000px;
            margin-left: 20px;
            margin-top: 50px;
        }

        .TxtHome{
            color: #555;
            font-size: 33px;
            line-height: 1.6;
            text-align: left;
        }
  
        .ButtonHome {
            display: inline-block;
            padding: 12px 20px;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 20px;
        }
    
        .ButtonHome:hover {
            background-color: #2ecc71;
        }
    /* ==================================== */
        
/* ==================================== *//* ==================================== *//* ==================================== */


/* Tutorial */
/* ==================================== *//* ==================================== *//* ==================================== */
  
    .testlink{
        text-decoration: none;
        color: #3498db;
    }


    .DivTutorial {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .DivPasso {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #fff;
        margin-bottom: 20px;
        text-align: left;
    }

    .TxtTutorial {
        color: #2ecc71;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .ListaTutorial {
        color: #555;
        font-size: 16px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        list-style: none;
      }

    .TxtPasso {
        color: #555;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    .AlertaTutorial {
        color: #be3e3e;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    .ButtonTutorial {
        display: inline-block;
        padding: 12px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
  
      .ButtonTutorial:hover {
        background-color: #2ecc71;
      }
    
/* ==================================== *//* ==================================== *//* ==================================== */


/* FuncoesGOV */
/* ==================================== *//* ==================================== *//* ==================================== */

    .DivFuncao {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
    }

    .function {
        display: block;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        text-align: center;
        border-radius: 10px;
        height: 300px;
        width: 210px;
        text-decoration: none; 
        color: #333; 
        transition: background-color 0.3s; 
    }
    .function:hover {
        background-color: #f0f0f0; 
    }

    .TxtTitulo {
        color: #3498db;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .TxtDescricao {
        color: #555;
        font-size: 10px;
        line-height: 1.6;
    }

/* ==================================== *//* ==================================== *//* ==================================== */


/* NotFound404 */
/* ==================================== *//* ==================================== *//* ==================================== */

    .DivNotFound{
        background-image:url("../../../public/NotFound404.png");
        height:100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .DivButton404{
        margin-top: 500px; 
    }

    .ButtonNotFound{
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        background-color: #3498db;
        color: #fff;
        border: none;
  
        width: 125px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .ButtonNotFound:hover {
        background-color: #2ecc71;
        
    }

/* ==================================== *//* ==================================== *//* ==================================== */